@font-face {
    font-family: 'Topaz New';
    font-style: normal;
    font-weight: normal;
    src: local('Topaz New'), url('Topaznew.woff') format('woff');
    
    }
    
body{
    font-family: 'Topaz New', sans-serif;
    background-color: black;
    color: #00b600;
}




.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@-webkit-keyframes noise-anim {
  0% {
    -webkit-clip-path: inset(66% 0 29% 0);
            clip-path: inset(66% 0 29% 0);
  }
  5% {
    -webkit-clip-path: inset(52% 0 12% 0);
            clip-path: inset(52% 0 12% 0);
  }
  10% {
    -webkit-clip-path: inset(46% 0 23% 0);
            clip-path: inset(46% 0 23% 0);
  }
  15% {
    -webkit-clip-path: inset(48% 0 40% 0);
            clip-path: inset(48% 0 40% 0);
  }
  20% {
    -webkit-clip-path: inset(76% 0 8% 0);
            clip-path: inset(76% 0 8% 0);
  }
  25% {
    -webkit-clip-path: inset(56% 0 31% 0);
            clip-path: inset(56% 0 31% 0);
  }
  30% {
    -webkit-clip-path: inset(72% 0 25% 0);
            clip-path: inset(72% 0 25% 0);
  }
  35% {
    -webkit-clip-path: inset(21% 0 76% 0);
            clip-path: inset(21% 0 76% 0);
  }
  40% {
    -webkit-clip-path: inset(29% 0 36% 0);
            clip-path: inset(29% 0 36% 0);
  }
  45% {
    -webkit-clip-path: inset(35% 0 56% 0);
            clip-path: inset(35% 0 56% 0);
  }
  50% {
    -webkit-clip-path: inset(61% 0 29% 0);
            clip-path: inset(61% 0 29% 0);
  }
  55% {
    -webkit-clip-path: inset(61% 0 10% 0);
            clip-path: inset(61% 0 10% 0);
  }
  60% {
    -webkit-clip-path: inset(66% 0 10% 0);
            clip-path: inset(66% 0 10% 0);
  }
  65% {
    -webkit-clip-path: inset(47% 0 2% 0);
            clip-path: inset(47% 0 2% 0);
  }
  70% {
    -webkit-clip-path: inset(48% 0 21% 0);
            clip-path: inset(48% 0 21% 0);
  }
  75% {
    -webkit-clip-path: inset(16% 0 60% 0);
            clip-path: inset(16% 0 60% 0);
  }
  80% {
    -webkit-clip-path: inset(78% 0 1% 0);
            clip-path: inset(78% 0 1% 0);
  }
  85% {
    -webkit-clip-path: inset(95% 0 6% 0);
            clip-path: inset(95% 0 6% 0);
  }
  90% {
    -webkit-clip-path: inset(61% 0 38% 0);
            clip-path: inset(61% 0 38% 0);
  }
  95% {
    -webkit-clip-path: inset(57% 0 40% 0);
            clip-path: inset(57% 0 40% 0);
  }
  100% {
    -webkit-clip-path: inset(48% 0 33% 0);
            clip-path: inset(48% 0 33% 0);
  }
}

@keyframes noise-anim {
  0% {
    -webkit-clip-path: inset(66% 0 29% 0);
            clip-path: inset(66% 0 29% 0);
  }
  5% {
    -webkit-clip-path: inset(52% 0 12% 0);
            clip-path: inset(52% 0 12% 0);
  }
  10% {
    -webkit-clip-path: inset(46% 0 23% 0);
            clip-path: inset(46% 0 23% 0);
  }
  15% {
    -webkit-clip-path: inset(48% 0 40% 0);
            clip-path: inset(48% 0 40% 0);
  }
  20% {
    -webkit-clip-path: inset(76% 0 8% 0);
            clip-path: inset(76% 0 8% 0);
  }
  25% {
    -webkit-clip-path: inset(56% 0 31% 0);
            clip-path: inset(56% 0 31% 0);
  }
  30% {
    -webkit-clip-path: inset(72% 0 25% 0);
            clip-path: inset(72% 0 25% 0);
  }
  35% {
    -webkit-clip-path: inset(21% 0 76% 0);
            clip-path: inset(21% 0 76% 0);
  }
  40% {
    -webkit-clip-path: inset(29% 0 36% 0);
            clip-path: inset(29% 0 36% 0);
  }
  45% {
    -webkit-clip-path: inset(35% 0 56% 0);
            clip-path: inset(35% 0 56% 0);
  }
  50% {
    -webkit-clip-path: inset(61% 0 29% 0);
            clip-path: inset(61% 0 29% 0);
  }
  55% {
    -webkit-clip-path: inset(61% 0 10% 0);
            clip-path: inset(61% 0 10% 0);
  }
  60% {
    -webkit-clip-path: inset(66% 0 10% 0);
            clip-path: inset(66% 0 10% 0);
  }
  65% {
    -webkit-clip-path: inset(47% 0 2% 0);
            clip-path: inset(47% 0 2% 0);
  }
  70% {
    -webkit-clip-path: inset(48% 0 21% 0);
            clip-path: inset(48% 0 21% 0);
  }
  75% {
    -webkit-clip-path: inset(16% 0 60% 0);
            clip-path: inset(16% 0 60% 0);
  }
  80% {
    -webkit-clip-path: inset(78% 0 1% 0);
            clip-path: inset(78% 0 1% 0);
  }
  85% {
    -webkit-clip-path: inset(95% 0 6% 0);
            clip-path: inset(95% 0 6% 0);
  }
  90% {
    -webkit-clip-path: inset(61% 0 38% 0);
            clip-path: inset(61% 0 38% 0);
  }
  95% {
    -webkit-clip-path: inset(57% 0 40% 0);
            clip-path: inset(57% 0 40% 0);
  }
  100% {
    -webkit-clip-path: inset(48% 0 33% 0);
            clip-path: inset(48% 0 33% 0);
  }
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    -webkit-clip-path: inset(23% 0 6% 0);
            clip-path: inset(23% 0 6% 0);
  }
  5% {
    -webkit-clip-path: inset(44% 0 11% 0);
            clip-path: inset(44% 0 11% 0);
  }
  10% {
    -webkit-clip-path: inset(70% 0 4% 0);
            clip-path: inset(70% 0 4% 0);
  }
  15% {
    -webkit-clip-path: inset(32% 0 62% 0);
            clip-path: inset(32% 0 62% 0);
  }
  20% {
    -webkit-clip-path: inset(9% 0 29% 0);
            clip-path: inset(9% 0 29% 0);
  }
  25% {
    -webkit-clip-path: inset(43% 0 11% 0);
            clip-path: inset(43% 0 11% 0);
  }
  30% {
    -webkit-clip-path: inset(4% 0 40% 0);
            clip-path: inset(4% 0 40% 0);
  }
  35% {
    -webkit-clip-path: inset(89% 0 2% 0);
            clip-path: inset(89% 0 2% 0);
  }
  40% {
    -webkit-clip-path: inset(21% 0 77% 0);
            clip-path: inset(21% 0 77% 0);
  }
  45% {
    -webkit-clip-path: inset(70% 0 14% 0);
            clip-path: inset(70% 0 14% 0);
  }
  50% {
    -webkit-clip-path: inset(62% 0 7% 0);
            clip-path: inset(62% 0 7% 0);
  }
  55% {
    -webkit-clip-path: inset(96% 0 5% 0);
            clip-path: inset(96% 0 5% 0);
  }
  60% {
    -webkit-clip-path: inset(74% 0 2% 0);
            clip-path: inset(74% 0 2% 0);
  }
  65% {
    -webkit-clip-path: inset(38% 0 59% 0);
            clip-path: inset(38% 0 59% 0);
  }
  70% {
    -webkit-clip-path: inset(11% 0 69% 0);
            clip-path: inset(11% 0 69% 0);
  }
  75% {
    -webkit-clip-path: inset(7% 0 51% 0);
            clip-path: inset(7% 0 51% 0);
  }
  80% {
    -webkit-clip-path: inset(33% 0 36% 0);
            clip-path: inset(33% 0 36% 0);
  }
  85% {
    -webkit-clip-path: inset(22% 0 50% 0);
            clip-path: inset(22% 0 50% 0);
  }
  90% {
    -webkit-clip-path: inset(45% 0 42% 0);
            clip-path: inset(45% 0 42% 0);
  }
  95% {
    -webkit-clip-path: inset(72% 0 29% 0);
            clip-path: inset(72% 0 29% 0);
  }
  100% {
    -webkit-clip-path: inset(71% 0 26% 0);
            clip-path: inset(71% 0 26% 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    -webkit-clip-path: inset(23% 0 6% 0);
            clip-path: inset(23% 0 6% 0);
  }
  5% {
    -webkit-clip-path: inset(44% 0 11% 0);
            clip-path: inset(44% 0 11% 0);
  }
  10% {
    -webkit-clip-path: inset(70% 0 4% 0);
            clip-path: inset(70% 0 4% 0);
  }
  15% {
    -webkit-clip-path: inset(32% 0 62% 0);
            clip-path: inset(32% 0 62% 0);
  }
  20% {
    -webkit-clip-path: inset(9% 0 29% 0);
            clip-path: inset(9% 0 29% 0);
  }
  25% {
    -webkit-clip-path: inset(43% 0 11% 0);
            clip-path: inset(43% 0 11% 0);
  }
  30% {
    -webkit-clip-path: inset(4% 0 40% 0);
            clip-path: inset(4% 0 40% 0);
  }
  35% {
    -webkit-clip-path: inset(89% 0 2% 0);
            clip-path: inset(89% 0 2% 0);
  }
  40% {
    -webkit-clip-path: inset(21% 0 77% 0);
            clip-path: inset(21% 0 77% 0);
  }
  45% {
    -webkit-clip-path: inset(70% 0 14% 0);
            clip-path: inset(70% 0 14% 0);
  }
  50% {
    -webkit-clip-path: inset(62% 0 7% 0);
            clip-path: inset(62% 0 7% 0);
  }
  55% {
    -webkit-clip-path: inset(96% 0 5% 0);
            clip-path: inset(96% 0 5% 0);
  }
  60% {
    -webkit-clip-path: inset(74% 0 2% 0);
            clip-path: inset(74% 0 2% 0);
  }
  65% {
    -webkit-clip-path: inset(38% 0 59% 0);
            clip-path: inset(38% 0 59% 0);
  }
  70% {
    -webkit-clip-path: inset(11% 0 69% 0);
            clip-path: inset(11% 0 69% 0);
  }
  75% {
    -webkit-clip-path: inset(7% 0 51% 0);
            clip-path: inset(7% 0 51% 0);
  }
  80% {
    -webkit-clip-path: inset(33% 0 36% 0);
            clip-path: inset(33% 0 36% 0);
  }
  85% {
    -webkit-clip-path: inset(22% 0 50% 0);
            clip-path: inset(22% 0 50% 0);
  }
  90% {
    -webkit-clip-path: inset(45% 0 42% 0);
            clip-path: inset(45% 0 42% 0);
  }
  95% {
    -webkit-clip-path: inset(72% 0 29% 0);
            clip-path: inset(72% 0 29% 0);
  }
  100% {
    -webkit-clip-path: inset(71% 0 26% 0);
            clip-path: inset(71% 0 26% 0);
  }
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}
/*# sourceMappingURL=style.css.map */


